@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  margin: 0;
  background-color: #282c34;
  color: #61dafb;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

#root {
  min-height: 100vh;
  background-color: #282c34;
  color: rgb(36, 36, 36);
  padding: 100px;
  align-items: center;
  justify-content: center;
}

#dashboard {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
}

#home {
  margin-top: 4%;
  margin-left: 40%;
}

h2, h3 {
  padding-bottom: 10px;
  color: #61dafb;
}

#login {
  font-weight: 300;
  font-size: large;
  color: #61dafb;
  margin-top: 10%;
}

#signup {
  font-weight: 500;
  font-size: large;
  color: #61dafb;
  margin-top: 10%;
  margin-left: 40%;
}

#add-workout {
  font-weight: 500;
  font-size: large;
  color: #61dafb;
  margin-top: 10%;
}

.divider-home {
  margin-right: 76.5%;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
  color: #61dafb;
}

.divider-signup {
  margin-right: 76.5%;
  overflow: hidden;
  display: block;
  color: #61dafb;
}

.divider-dash {
  color: #61dafb;
  overflow: hidden;
  display: block;
}

.recent-row {
  margin-bottom: 40px;
}

.activity-card {
  margin: 15%;
  margin-top: 10%;
  box-shadow: 0px 0px 5px 1px #fff;
}

.workout-card {
  margin: 10%;
  box-shadow: 1px 1px 20px 2px #000;
}
