body {
  margin: 0;
  background-color: #282c34;
  color: #61dafb;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  background-color: #282c34;
  color: rgb(36, 36, 36);
  align-items: center;
  justify-content: center;
}

h2 {
  padding-bottom: 10px;
  display: inline;
  color: #61dafb;
}

h3 {
  padding-bottom: 10px;
  color: #61dafb;
}

#dashboard {
  clear: both;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}

#home {
  margin-left: 41%;
}

#hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/img3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

#login, #signup {
  font-weight: 300;
  font-size: large;
  color: #61dafb;
  padding-top: 350px;
}

#add-workout {
  font-weight: 500;
  font-size: large;
  color: #61dafb;
  margin-top: 10%;
}

#select-cards-container {
  text-align: center;
}

#select-cards {
  display: flex;
  max-width: 75%;
  margin-left: 12%;
  margin-right: 12%;
}

.select-card {
  margin: 20px;
  box-shadow: 1px 1px 20px 2px #000;
}

.divider-home {
  margin-right: 76.5%;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
  color: #61dafb;
}

.divider-signup {
  margin-right: 76.5%;
  overflow: hidden;
  display: block;
  color: #61dafb;
}

#dashboard-btns {
  margin-top: 5%;
  margin-right: 10%;
  float: right;
}

.divider-dash {
  color: #61dafb;
  overflow: hidden;
  display: block;
}

.recent-row {
  margin-bottom: 40px;
}

.activity-card {
  margin: 15%;
  margin-top: 10%;
  box-shadow: 0px 0px 5px 1px #fff;
}

#charts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#body-weight-chart { 
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
}

#rep-max-chart {
  text-align: center;
  margin-top: 20px;
  margin-left: 60px;
}

.workout-card {
  margin: 10%;
  box-shadow: 1px 1px 20px 2px #000;
}

#modal-header {
  text-align: center;
}

.workout-details-container {
  background-color: aliceblue;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 3%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 10px #000;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-container {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 200px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px #282c34;
}

.lifts-container {
  display: flex;
  margin-top: 5%;
}

.cores-container {
  margin-left: 8%;
  width: 40%;
}

.assistances-container {
  margin-left: 5%;
  margin-right: 8%;
  width: 40%;
}

.btn {
  margin: 10px;
}

.modal-btns {
  margin-top: 2%;
  margin-left: 80%;
}

.activity-icon {
  margin-bottom: 20px;
  margin-top: 20px;
}