body {
  margin: 0;
  background-color: #282c34;
  color: #61dafb;
  min-height: 100vh;
  /* remove scrollbar */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  /* remove scrollbar */
  display: none; /* for Chrome, Safari, and Opera */
}

/*  * pages */

#root {
  min-height: 100vh;
  background-color: #282c34;
  color: rgb(36, 36, 36);
  align-items: center;
  justify-content: center;
}

#dashboard {
  clear: both;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}

/* * containers */

#forms-container {
  margin-right: -60%;
  margin-left: 35%;
}


.activity-row-container {
  margin-bottom: 150px;
}

.recent-row-container {
  margin-bottom: 40px;
}

#charts-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workout-container {
  margin-left: 42%;
  min-height: 100vh;
}

.workout-details-container {
  background-color: aliceblue;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  margin-top: 3%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 1px 20px 10px #000;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-container {
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  width: 200px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 1px #282c34;
}

.lifts-container {
  margin-top: 5%;
}

.cores-container {
  margin-left: 30%;
  width: 40%;
}

.assistances-container {
  margin-top: 25px;
  margin-left: 30%;
  width: 40%;
}

#footer-container {
  padding: 75px;
  border-top-style: solid;
  border-top-color: #fff;
  border-top-width: 1px;
  background-color: #212529;
  color: aliceblue;
  text-align: center;
}

/* #select-cards-container {
  text-align: center;
} */

/* * images */

#hero-img {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.75)), url('./images/img3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
}

/* * forms */

#login, #signup {
  font-weight: 300;
  font-size: large;
  color: #61dafb;
  padding-top: 50px;
}

.add-workout {
  font-weight: 500;
  font-size: large;
  color: #61dafb;
  padding-top: 20%;
}

/* * cards */

.activity-card {
  margin: 15%;
  margin-top: 10%;
  box-shadow: 0px 0px 5px 1px #fff;
}

.select-card {
  margin: 20px;
  box-shadow: 1px 1px 20px 2px #000;
}

.workout-card {
  margin: 10%;
  box-shadow: 1px 1px 20px 2px #000;
}

/* #select-cards {
  display: flex;
  max-width: 75%;
  margin-left: 12%;
  margin-right: 12%;
} */

/* * charts */

#body-weight-chart { 
  text-align: center;
  margin-top: 20px;
  margin-right: 60px;
}

#rep-max-chart {
  text-align: center;
  margin-top: 20px;
  margin-left: 60px;
}

/* * buttons */

.btn {
  margin: 10px;
}

.details-btn {
  margin-top: 2%;
  margin-left: 93%;
}

#dashboard-btns {
  margin-top: 5%;
  margin-right: 10%;
  float: right;
}

/* * icons */

.activity-icon {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* * text */

.chart-titles {
  padding-bottom: 20px;
  color: #61dafb;
  font-weight: 200;
}

#home-header {
  padding-top: 200px;
  text-align: center;
  font-weight: 200;
  color: aliceblue;
}

.login-signup-header {
  color: #61dafb;
  font-weight: 200;
}

#footer-text {
  font-weight: 100;
  font-size: large;
}

.dash-header {
  font-weight: 200;
  padding-bottom: 10px;
  display: inline;
  color: #61dafb;
}

.details-header {
  font-weight: 200;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  color: #61dafb;
}

/* * dividers */

.divider-home {
  margin-right: 75.5%;
  margin-bottom: 30px;
  overflow: hidden;
  display: block;
  color: #61dafb;
}

.divider-form {
  margin-right: 75.5%;
  overflow: hidden;
  display: block;
  color: #61dafb;
}

.divider-dash {
  color: #61dafb;
  overflow: hidden;
  display: block;
}

#divider-footer-top {
  margin-left: 47%;
  margin-right: 47%;
  margin-bottom: 40px;
  color: #61dafb;
}

#divider-footer-bottom {
  margin-left: 47%;
  margin-right: 47%;
  margin-top: 40px;
  color: #61dafb;
}